@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton{
    @include m.boton(v.$negro, v.$blanco);
}
.botonDelete{
    @include m.boton(v.$rojo, v.$blanco);
}
.botonReporte{
    margin-left: 150px;
    margin-right: 150px;
   border-radius: 2rem;
    @include m.boton(v.$turquesa, v.$blanco);
}